@model FPTBook.Models.Book
<div class="card mb-3">
  <h3 class="card-header">@Model.Name</h3>
  <div class="card-body">
    <h5 class="card-title">CATEGORY</h5>
  </div>
  <img src="https://th.bing.com/th/id/R.aa808ac97c488ec73c8612ea3428edc0?rik=2%2fiOE%2fdVk2kllg&pid=ImgRaw&r=0" width=100% height="1000px"/>
  <div class="card-body">
    <p class="card-text">DESCRIPTION: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-body">
    <a asp-area="" asp-controller="Book" asp-action="Index"class="card-link">Back to Home</a>
  </div>
</div>

